terraform/step_function_definition.json
{
  "Comment": "AWS Step Functions state machine",
  "StartAt": "ExtractTaskLambda",
  "States": {
    "ExtractTaskLambda": {
      "Next": "TransformTaskLambda",
      "Resource": "arn:aws:lambda:${aws_region}:${account_id}:function:extract",
      "Type": "Task",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "Comment": "Retry 3 times ExtractTaskLambda before errors are caught by Catch block",
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch any error in ExtractTaskLambda execution",
          "ResultPath": "$.errorInfo",
          "Next": "SendExtractOrTransformFailureNotification"
        }
      ]
    },
    "SendExtractOrTransformFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Message": {
          "Error.$": "$.errorInfo"
        },
        "Subject": "Step Function Failure Notification",
        "MessageAttributes": {
          "workflow": {
            "DataType": "String",
            "StringValue": "totesys-workflow-state-machine"
          }
        }
      },
      "Next": "FailState"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "ExtractTaskFailed",
      "Cause": "Extract Lambda function failed after retries"
    },
    "TransformTaskLambda": {
      "Next": "LoadTaskLambda",
      "Resource": "arn:aws:lambda:${aws_region}:${account_id}:function:transform",
      "Type": "Task",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch any error in TransformTaskLambda execution",
          "ResultPath": "$.errorInfo",
          "Next": "SendExtractOrTransformFailureNotification"
        }
      ]
    },
    "LoadTaskLambda": {
      "End": true,
      "Resource": "arn:aws:lambda:${aws_region}:${account_id}:function:load",
      "Type": "Task",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch any error in load lambda function",
          "ResultPath": "$.errorInfo",
          "Next": "SendExtractOrTransformFailureNotification"
        }
      ]
    }
  }
}